.git
.github
.cursor
.idea
.vscode
.fleet
.zed
.phpunit.cache
.phpactor.json

.env
.env.*
!.env.example
!.env.docker.example

node_modules
vendor
npm-debug.log
yarn-error.log

storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
storage/app/public
bootstrap/cache/*.php

public/build
public/hot
public/storage
public/sitemap

tests
phpunit.xml
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
LICENSE
README.md
Homestead.json
Homestead.yaml
auth.json
faq-html
*.md
!docker/**/*.md
